<!DOCTYPE html>
<!--
    Copyright 2019 British Broadcasting Corporation
    
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    
      http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License. 
-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <link rel="stylesheet" href="css/captiveportal.min.css">
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="images/2immerse-logo-colour-small.svg" alt="2immerse logo">
        </a>
        <hr/>
    </nav>
    <div class="heading-2immerse text-center done-message">
        <img src="images/tv-tick.svg">
        <p>Your TV has been successfully connected to <%= ssid %>.</p>
    </div>
    <p class="heading-2immerse text-center done-message">Close this window and <b>reconnect this device to your own wifi network</b>. Then go to the 2-IMMERSE app to launch an experience on your TV.</p>
    <p></p>
</body>
</html>
